
body {
    width: 100%;
    padding: 1em;
    background-color: #eeeeee;
}
div.page-content {
    width: 100%;
    min-width: 640px;
    min-height: 1200px;
    background-color: #ffffff;
}

@keyframes showpanel {
    from {
        opacity: 0;
        top: 0;
        visibility: hidden;
    }
    to {
        opacity: 1;
        top: 5%;
        visibility: visible;
    }
}

@keyframes hidepanel {
    from {
        opacity: 1;
        top: 5%;
        visibility: visible;
    }
    to {
        opacity: 0;
        top: 0;
        visibility: hidden;
    }
}

.uifloatpanel-outer.active {
    top: 5%;
    display: block;
    visibility: visible;
    animation: showpanel 0.3s ease-out 0s;
}

.uifloatpanel-outer {
    top: 0;
    /* display: none; */
    visibility: hidden;
    animation: hidepanel 0.2s ease-in 0s;
    /* animation: showpanel 0.4s linear 0s; */
    /* animation-direction: reverse; */
}

